.small-device-logo {
    display: none;
}

#header {}

#header .small-device-menu {
    display: none;
}

#header .small-device-logo {}

#header .small-device-logo a {}

#header .small-device-logo img {}

#header #header-top {
    background: #37A000;
}

#header #header-top::after {
    content: "";
    display: block;
    clear: both;
}

#header #header-top div {
    position: relative;
    padding-bottom: 1px;
}

#header #header-top .large-device-logo {
    width: 117px;
    width: 117px;
    position: absolute;
    top: 0px;
    left: 0px;
}

#header #header-top .large-device-logo a {}

#header #header-top .large-device-logo a img {
    width: 100%;
}

#header #header-top .institute-name {
    margin-left: 130px;
    float: left;
    padding: 10px 0px;
}

#header #header-top .institute-name h1 {
    color: #ffffff;
    font-size: 25px;
}

#header #header-top .institute-name p {
    color: #ffffff;
    margin-bottom: 0px;
}

#header #header-top .mini-menu {
    float: right;
    margin-top: 25px;
}

#header #header-top .mini-menu ul {
    list-style: none;
}

#header #header-top .mini-menu ul li {}

#header #header-top .mini-menu ul li a {
    text-decoration: none;
    color: #ffffff;
}

#header #header-bottom {
    background: #ffffff;
    border-bottom: 1px solid #37A000;
}

#header #header-bottom nav.main-menu {
    margin-left: 130px;
}
#header #header-bottom nav.main-menu::after{
    content: "";
    display: block;
    clear: both;
}
#header #header-bottom nav.main-menu ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

#header #header-bottom nav.main-menu ul li {
    
}
#header #header-bottom nav.main-menu ul li::after{
    content: "\3";
    color: red;
}
#header #header-bottom nav.main-menu ul li a {
    color: #000000;
}

#header #header-bottom nav.main-menu ul::after {
    content: "";
    display: block;
    clear: both;
}

#header #header-bottom nav.main-menu ul li {
    float: left;
}

#header #header-bottom nav.main-menu ul li a {
    padding: 7px 8px;
    display: block;
}

#header #header-bottom nav.main-menu ul li a:hover {
    color: #37A000;
    text-decoration: none;
}

/*====================================================*/
#header #header-bottom nav.main-menu ul li {
    position: relative;
}

#header #header-bottom nav.main-menu ul ul {
    position: absolute;
    top: 100%;
    left: -9999px;
    background: #333333;
    width: 160px;
    z-index: 9;
}
#header #header-bottom nav.main-menu ul li ul li a{
    color: #ffffff;
}
#header #header-bottom nav.main-menu ul ul ul {
    position: absolute;
    top: 0px;
}

#header #header-bottom nav.main-menu ul li:hover > ul {
    left: 0px;
}

#header #header-bottom nav.main-menu ul ul li:hover > ul {
    left: 100%;
}

#header #header-bottom nav.main-menu ul li ul li {
    float: none;
}
/*================================================================*/
#bxslider-section{
}
#bxslider-section .bx-wrapper{
    border: 0px;
}
