.bgtable{
 background: #ffffff !important;
 margin-top: 8px;
}
.bgtable ul{
    width: 300px;
    margin: auto;
    padding: 25px 0px;
    overflow: hidden;
}
.bgtable ul li{
    width: 50%;
    float: left;
}
.btn-group{
	text-decoration: none;
	border: 1px solid #cccccc;
}
.btn-link{
	background: #ffffff;
	text-decoration: none;
}
.btn-link:hover{
	background: #ffffff;
}
.btn-link:focus{
	background: #ffffff;
}
.applicant{
	background: #ffffff !important;
}
fieldset.scheduler-border {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
    box-shadow:  0px 0px 0px 0px #000;
}

legend.scheduler-border {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
    width:auto;
    padding:0 10px;
    border-bottom:none;
    margin-bottom: 0;
}
.heading{
    position: relative;
}
.heading .msg{
   position: absolute;
    right: 0px;
    top: 0
}
.section{
    position: absolute;
    top: 50px;
    right: 30px;
    width: 300px;
}
.section #sectionid{
    width: 100%;
}
.role_menu{
    padding: 0px;
}
.role_menu li{
    
}
.role_menu >li{
    border-bottom: 1px solid #000;
    padding: 10px 0px;
}
.role_menu  li ul{
    padding-left: 25px;
}
.role_menu  li ul li{}
.role_menu  li ul li .menu{
    width: 20%;
    float: left;
}
.role_menu  li ul li .permission{}
.role_menu  li ul li .permission label{
    color: green !important;
    margin-right: 15px;
}
.role_menu  li ul li .menu label{
    color: blue;
}